<div id="map_container">
	<div id="signup">
		<h1>Sign Up</h1>
		<%= form_for @user do |f|%>
			<%= f.label :username %><br>
			<%= f.text_field :username, :class => "user_input" %>
			<br>
			<br>
			<%= f.label :email %><br>
			<%= f.text_field :email, :class => "user_input" %>
			<br>
			<br>
			<%= f.label :password %><br>
			<%= f.password_field :password, :class => "user_input" %>
			<br>
			<br>
			<%= f.label :password, "Confirm Password" %><br>
			<%= f.password_field :password_confirmation, :class => "user_input" %>
			<br>
			<%= f.submit "Sign Up", :class => "circle_button" %>
		<% end %>
	</div>
	<div id="map">
	</div>
</div>